<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/checkbox.css">
    <title>Lesson 28</title>
</head>
<body>
    <section>
        <div class="wrapper">
            <div class="todo">
                <div class="todo__header">
                    <div class="todo__create">
                        <input type="text" class="todo__input js-todo-value">
                        <button class="todo__add js-todo-add">Добавить</button>
                    </div>
                </div>
                <div class="todo__body">
                    <div class="todo__list">

                        <div class="todo__item todo_mark">
                            <div class="todo__item_top">
                                <input type="checkbox" class="todo__check" id="1">
                                <label for="1" class="todo__title">Купить молок</label>
                            </div>
                            <div class="todo__item_bottom">
                                <span class="todo__time js-todo-time">12.12.20</span>
                                <input type="checkbox" id="f1" checked>
                                <label for="f1" class="todo__icon_favorite js-todo-favorite"></label>

                                <button class="todo__icon_delete js-todo-delete"></button>
                            </div>
                        </div>

                        <div class="todo__item todo_complete">
                            <div class="todo__item_top">
                                <input type="checkbox" class="todo__check" id="2" checked>
                                <label for="2" class="todo__title">Купить молок</label>
                            </div>
                            <div class="todo__item_bottom">
                                <span class="todo__time js-todo-time">12.12.20</span>
                                <input type="checkbox" id="f2">
                                
                                <label for="f2" class="todo__icon_favorite js-todo-favorite"></label>
                                <button class="todo__icon_delete js-todo-delete"></button>
                            </div>
                        </div>

                        <div class="todo__item">
                            <div class="todo__item_top">
                                <input type="checkbox" class="todo__check" id="3">
                                <label for="3" class="todo__title">Купить молок</label>
                            </div>
                            <div class="todo__item_bottom">
                                <span class="todo__time js-todo-time">12.12.20</span>
                                <input type="checkbox" id="f3">
                                <label for="f3" class="todo__icon_favorite js-todo-favorite"></label>

                                <button class="todo__icon_delete js-todo-delete"></button>
                            </div>
                        </div>

                        <div class="todo__item">
                            <div class="todo__item_top">
                                <input type="checkbox" class="todo__check" id="4">
                                <label for="4" class="todo__title">Купить молок</label>
                            </div>
                            <div class="todo__item_bottom">
                                <span class="todo__time js-todo-time">12.12.20</span>
                                <input type="checkbox" id="f4">
                                <label for="f4" class="todo__icon_favorite js-todo-favorite"></label>

                                <button class="todo__icon_delete js-todo-delete"></button>
                            </div>
                        </div>

                        <div class="todo__item">
                            <div class="todo__item_top">
                                <input type="checkbox" class="todo__check" id="5">
                                <label for="5" class="todo__title">Купить молок</label>
                            </div>
                            <div class="todo__item_bottom">
                                <span class="todo__time js-todo-time">12.12.20</span>
                                <input type="checkbox" id="f5">
                                <label for="f5" class="todo__icon_favorite js-todo-favorite"></label>

                                <button class="todo__icon_delete js-todo-delete"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
