{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'style/style.css' %}" />
		<link rel="stylesheet" href="{% static 'style/checkbox.css'%}" />
		<title>ToDo</title>
	</head>
	<body>
		<section>
			<div class="wrapper">
				<div class="todo">
					<div class="todo__header">
						<div class="todo__create">
							<form action="{% url 'add-todo' %}" method="POST">
							{% csrf_token %}
								<input type="text" name="todo_text" class="todo__input js-todo-value" />
								<button class="todo__add js-todo-add">Добавить</button>
							</form>
						</div>
					</div>
					<div class="todo__body">
						<div class="todo__list">
							{% for todo in todo_list %}
							<div class="todo__item 
								{% if todo.is_favorite  %} todo_mark {% endif %}
								{% if todo.is_closed  %} todo_complete {% endif %}
								">
								<div class="todo__item_top">
									<input type="checkbox" class="todo__check" {% if todo.is_closed  %} checked {% endif %} />
									<label for="{{todo.id}}" class="todo__title"></label>
									<a href="{% url 'todo-complete' todo.id %}">{{todo.text}}</a>
								</div>
								<div class="todo__item_bottom">
									<span class="todo__time js-todo-time">{{todo.created_at}}</span>
									{% if todo.is_favorite  %}
									<a href="{% url 'unfavorite-todo' todo.id %}" class="fav-img fav-true"></a>
									{% else %}
									<a href="{% url 'favorite-todo' todo.id %}" class="fav-img fav-false"></a>
									{% endif %}
									<a href="{% url 'delete-todo' todo.id %}" class="fav-img todo-remove"></a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
