{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <link rel="stylesheet" href="{% static 'style/checkbox.css'%}" />
    <title>ToDo</title>
  </head>
  <body>
    <section>
      <div class="wrapper">
        <div class="todo">
          <div class="todo__header">
            <div class="todo__create">
              <form action="{% url 'add-todo' %}" method="POST">
              {% csrf_token %}

                <input type="text" name="todo_text" class="todo__input js-todo-value" />
                <button class="todo__add js-todo-add">Добавить</button>
              </form>
            </div>
          </div>
          <div class="todo__body">
            <div class="todo__list">
              {% for todo in todo_list %}
              <div class="todo__item">
                <div class="todo__item_top">
                  <input type="checkbox" class="todo__check" id="3" />
                  <label for="3" class="todo__title">{{todo.text}}</label>
                </div>
                <div class="todo__item_bottom">
                  <span class="todo__time js-todo-time">{{todo.created_at}}</span>
                  <input type="checkbox" id="f3" />
                  <label for="f3" class="todo__icon_favorite js-todo-favorite"></label>
                  <button class="todo__icon_delete js-todo-delete"></button>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
